# Database Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nursery-ecommerce?retryWrites=true&w=majority

# Server Configuration
PORT=3000
SESSION_SECRET=your-secret-key-here-change-in-production

# eSewa Configuration (Sandbox)
ESEWA_MERCHANT_ID=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_SUCCESS_URL=http://localhost:3000/payment/success
ESEWA_FAILURE_URL=http://localhost:3000/payment/failure
ESEWA_PAYMENT_URL=https://uat.esewa.com.np/epay/main

# Production eSewa URLs (uncomment when going live)
# ESEWA_PAYMENT_URL=https://esewa.com.np/epay/main



# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

